@import './base.css';

 .bg{
    position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
    background-image: radial-gradient(rgba(255, 255, 255, 0.5),rgb(0 0 0 / 0.5)),
    url("/public/loginbg.jpg");
    background-size: cover;   
}

*{
    font-family: Minecraftia;
    font-weight: bold;
    font-size: 13pt;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
    color:white;
}

.Form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.Form .Form-Button{
    display:flex;
    justify-content: center;
    align-items: center;
    
    width: 30%;
    height: 50px;
    margin: 5px;
    background-color: gray;
    border: solid 3px;
    border-color: black;
    box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
    color:white;
    text-align: center;
    margin-top:auto;
}

.Form >.Form-entry:hover{
    border-inline: solid 3px;
    border-color: white;
}